<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Spelling Word Maze Creator</title>
</head>

<body>
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Spelling-Word Maze Generator</h1>
        <h5 class="mb-3">For those who want to do more than simply study.</h5>
    </div>
    <div class="container-sm">
        <div class="m-6 row">
            <div class="col-8 offset-md-2">
                <div class="card bg-light m-3 border">
                    <div class="card-header text-center fw-bold">
                        Welcome to the Spelling-Word Maze Generator!
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="text-indent: 50px;">
                            Below is a form you can use to generate spelling word mazes. Simply type a word into the input box and click generate! 
                            After a minute or two of waiting you should get a download link to the generated maze.
                            Please keep requested words to a 15 character maximum, failure may occur for really long words.
                        </p>
                        <p class="card-text" style="text-indent: 50px;">
                            As a final note, this is a modest server so if there are a bunch of requests it will take longer and in some cases will require a second try.
                        </p>
                        <p class="card-text" style="text-indent: 50px;">
                            If you are interested in further reading on how the maze is generated you can take a look at <a href="https://wfale.net/2022/12/04/spelling-made-exciting-in-a-labyrinthine-maze/">this</a> post which tells the story.
                            The code is also available on my Github <a href="https://github.com/TravisAdsitt/SpellingMaze">here</a>. Thank you for stopping by, I really hope you enjoy the mazes!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <table class="table table-sm table-bordered table-striped align-middle text-center">
                    <thead>
                        <tr>
                            <th style="width: 30%;">Word</th>
                            <th style="width: 70%;">Maze</th>
                        </tr>
                    </thead>
                    <tbody id="word_list" class="table-group-divider">
                        <tr>
                            <td>
                                <input placeholder="Enter word">
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <button onclick="cloneRow()" class="btn btn-primary">Add Word</button> -->
                <button onclick="generateImages()" class="btn btn-success">Generate</button>
            </div>
        </div>
    </div>

    <script>
        // function cloneRow() {
        //     var row = document.getElementById("template_row");
        //     var table = document.getElementById("word_list");

        //     var clone = row.cloneNode(true);

        //     clone.id = "";
        //     clone.hidden = "";

        //     clone.cells[0].innerHTML = '';
        //     clone.cells[1].innerHTML = '';

        //     word_input = document.createElement('input');
        //     word_input.placeholder = "Enter Word";

        //     clone.cells[0].appendChild(word_input);

        //     table.appendChild(clone);
        // }

        function image_loaded(evt) {
            parent_obj = evt.currentTarget.loading_img.parentNode;

            parent_obj.innerHTML = '';

            new_img = document.createElement('img');
            new_img.src = evt.currentTarget.responseText + "?" + (new Date()).getTime();
            new_img.height = 30;
            new_img.width = 30;

            download_link = document.createElement('a');
            download_link.href = evt.currentTarget.responseText;
            download_link.download = evt.currentTarget.word;
            download_link.innerHTML = 'Download Maze';


            parent_obj.appendChild(new_img);
            parent_obj.appendChild(download_link);

        }

        function generateImages() {
            var table = document.getElementById("word_list"); // find table to append to
            var word = "";

            for (let row of table.rows) {
                var word_cell = row.cells[0];
                var image_cell = row.cells[1];

                word = word_cell.children[0].value;
                image_cell.innerHTML = '';

                img_loading = document.createElement('img');
                img_loading.src = '/static/Loading.webp';
                img_loading.width = 50;
                img_loading.height = 50;

                const Http = new XMLHttpRequest();
                const url = '/maze?word=' + word;
                Http.open("GET", url);
                Http.loading_img = img_loading;
                Http.word = word;
                Http.addEventListener('load', image_loaded);
                Http.send();

                image_cell.appendChild(img_loading);

            }
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>